main {
  @apply flex;
  min-height: 100vh;
  flex-flow: column;
  & footer {
    margin-top: auto;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.RSVPcontainer {
}

// OUTLINE
a,
button {
  @apply outline-slate-500 outline-2 outline-offset-4;
}

rsvp-booking-button {
  @apply mt-10 py-1 px-9 cursor-pointer tracking-widest transition-all ease-linear hover:bg-black border hover:text-white border-black rounded-xl pointer-events-auto #{!important};
  button {
    @apply text-sm font-bold;
  }
}

.hydrated {
  @apply mx-0 #{!important};
}

.step-container {
  @apply max-w-3xl w-full;
}

.special-announcement {
  @apply p-0 text-center setflex-center #{!important};
}

#bookingStepForm {
  @apply pt-10 pb-12 border border-black rounded-2xl setflex-center px-5;
}

div.date-grid-calendar {
  background: red;
  & .dates {
    --rsvp-calendar-border-radius: 20px;
    border-radius: 20px !important;
    & .status-round {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
rsvp-calendar-month-status {
  --rsvp-calendar-border-radius: 10px;
  --rsvp-calendar-selected-border-radius: 10px;
  --rsvp-calendar-status-round-width: 8px;
  --rsvp-calendar-status-round-height: 8px;
  --rsvp-calendar-background-color: #ddd;
  // Day name font Size
  --rsvp-calendar-header-font-size: 14px;
  --rsvp-calendar-font-size: 18px;
}
.seating-items {
  align-items: center;
  justify-content: center !important;
  & rsvp-seating-item {
    flex: 0 1 100px;
    & > div {
      border-radius: 5px !important;
      border-width: 1px;
    }

    & .limited {
      border-color: #ffa500;
      background: rgba(255, 165, 0, 0.2);
    }
    & .selected {
      @apply transition-all;
      --rsvp-selected-background: #222;
      color: #fff;
      border-color: #000;
      &.limited {
        color: #000;
        border-color: #ffa500;
        background: #ffa500;
      }
    }
  }
}
rsvp-seating-section .limited-seats-label {
  text-align: center;
  font-size: 14px;
  & > span {
    background: #ffa500;
    border-radius: 2px;
    width: 10px;
    height: 10px;
  }
}

rsvp-pax-section,
rsvp-selector-row {
  text-transform: capitalize !important;
}

.ContactDetails {
  display: flex;
  flex-flow: column nowrap;
  @apply space-y-5;
  .phone-input-inner {
    display: flex;
    width: 100%;
    margin-top: 2px;
    @apply space-x-2;
    & > * {
      border: 1px solid black;
      border-radius: 4px;
      padding: 5px 5px;
      font-size: 16px;
      &:focus {
        outline: #000;
      }
      &:last-child {
        flex-grow: 2;
        align-self: stretch;
        padding: 5px 10px;
      }
    }
  }
}
rsvp-booking-additional-info {
  & > div > div {
    margin-bottom: 20px;
  }
}
rsvp-custom-form-container {
  display: flex;
  flex-flow: column nowrap;
  @apply space-y-5;
}
div.errors > div {
  margin-bottom: 20px;
  border: 1px solid #830a0a;
  border-radius: 4px;
  padding: 5px 10px;
  color: #830a0a;
}
// back button
rsvp-step-link > span {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.ConfirmInfo {
  display: flex;
  flex-flow: column nowrap;
  @apply space-y-5;
  & select {
    margin-left: 2px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    padding-right: 40px;
    font-size: 16px;
    &:focus {
      outline: #000;
    }

    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%);
    background-position: calc(100% - 15px) calc(1em),
      calc(100% - 10px) calc(1em);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
  }
}
rsvp-input {
  & label {
    text-transform: uppercase;
    margin: 0px;
  }
  & input,
  textarea {
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    &:focus {
      outline: #000;
    }
  }
}

input[type='checkbox'] {
  margin-right: 5px;
}
rsvp-special-announcement {
  display: none;
}
rsvp-selector-row {
  --rsvp-selector-text-transform: capitalize;
  --rsvp-font-weight: 500;
  --rsvp-text-primary: black;
  --rsvp-font: 'whyte Inktrap';
}
