/* Content Stylings */

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
}

h1,
.h1 {
  @apply font-default p-0 mt-0 mb-4 max-md:max-w-full max-md:break-words;
  @apply text-4xl sm:text-5xl md:text-6xl;
  @apply select-text;
}

h2,
.h2 {
  @apply font-default p-0 mt-0 mb-4;
  @apply text-xl sm:text-2xl md:text-4xl lg:text-4xl;
  @apply select-text;
}

.editor-styling {
  @apply flex flex-col;
  & > * {
    @apply block my-3 first:mt-0 last:mb-0;
  }
  & > .dot {
    margin: 0;
  }
  & > .line {
    @apply my-5;
  }

  & > .linePopup {
    @apply my-3;
  }
  & > p > a {
    @apply transition-all hover:opacity-50 font-bold underline decoration-black underline-offset-1 items-center relative pointer-events-auto;
  }
  & > * a {
    word-break: break-all;
  }
  & > *:not(a) {
    cursor: default;
  }
  & h1 {
    @apply font-bold;
    @apply text-5xl sm:text-6xl md:text-7xl;
  }
  & h2 {
    @apply font-bold;
    @apply text-4xl sm:text-5xl;
  }
  & h3 {
    @apply font-bold;
    @apply text-xl sm:text-2xl;
  }
  & h4 {
    @apply font-bold;
    @apply text-xl sm:text-2xl;
  }
  & h5 {
    @apply font-bold;
    @apply text-lg sm:text-xl;
  }
  & > h1,
  & > h2 {
    @apply px-0;
  }
  & > h3,
  & > h4,
  & > h5,
  & > p {
    @apply w-full;
    @apply block my-3 first:mt-0 last:mb-0;
  }
  & > .column {
    @apply grid grid-cols-2 max-md:grid-cols-1 lg:space-x-8;
  }
}
