html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* RSVP Style */

rsvp-element {
  --rsvp-expand-position: relative;
  --rsvp-font: 'Quicksand';
  --rsvp-font-weight: 300;
  --rsvp-font-size: 1.3em;
  --rsvp-text-primary: #5c5c5c;
  --rsvp-selector-color: rgb(20, 4, 109);
  --rsvp-selected-background: #000;
  --rsvp-selected-color: #fff;
  --rsvp-border-color: rgba(0, 0, 0, .5);
  --rsvp-button-primary: #010413;
  --rsvp-button-text: #fff;
  --rsvp-background-color: transparent;
  font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

rsvp-special-announcement{
  display: none !important;
}